/* Estilos Otimizados */

/* Configurações gerais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
 
h1, h2, h3, h4, h5, p {
    margin: 0;
}

/* Estilo personalizado para a seção de boas-vindas */
.welcome-title {
    font-size: 1.5em; /* Ajuste o tamanho conforme necessário */
}

.welcome-subtitle {
    font-size: 2em; /* Ajuste o tamanho conforme necessário */
    line-height: 1; /* Ajuste a altura da linha conforme necessário */
    margin-bottom: 1px; /* Espaçamento abaixo do subtítulo */
}

.welcome-description {
    font-size: 0.01em; /* Ajuste o tamanho conforme necessário */
    margin-bottom: 0px; /* Espaçamento abaixo da descrição */
}


button, .button {
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    padding: 15px 30px; /* Aumentar o tamanho da caixa "Sobre Mim" */
    cursor: pointer;
    transition: border-color 0.3s;
    text-decoration: none;
}

button:hover, .button:hover {
    border-color: #d10162;
}

/* Ajustes de responsividade */
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%; /* Define uma largura máxima */
    padding: 0px;
    box-sizing: border-box;
}

#welcome-section {
    text-align: center;
    padding: 30px;
    position: relative;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    transition: opacity 1s ease-out; /* Transição suave de opacidade */
    z-index: 1;
}

#welcome-section .destaque {
    color: #d10162;
    margin-bottom: 20px;
    font-size: 2em;
}

#welcome-section h2 {
    margin-bottom: 40px; /* Aumentar o espaço abaixo do nome */
    font-size: 3em;
}

#welcome-section p {
    margin-bottom: 40px;
    font-size: 1.3em;
}

#content-wrapper {
    border-radius: 0; /* Remover bordas arredondadas */
    opacity: 1;
    background-color: #fff;
    color: #000;
    width: 100%;
    padding: 50px;
    border-radius: 10px;
    transition: opacity 1s ease-in, transform 1s ease-in;
    margin-top: 0;
    z-index: 0;
}

.hidden {
    display: none;
}

#about-section {
    text-align: center;
}

#about-section h2 {
    color: #d10162;
    text-align: center;
    font-size: 1.5em;
}

#about-section h3 {
    margin: 20px 0;
    text-align: center;
    font-size: 1.5em;
}

#about-section .about-content {
    display: flex;
    align-items: center;
    max-width: 800px; /* Defina a largura máxima conforme necessário */
    margin: 0 auto;
}

#about-section .about-image {
    flex: 0 0 150px; /* Ajuste a largura da imagem conforme necessário */
    margin-right: 20px; /* Espaçamento entre a imagem e o texto */
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-section .about-image img {
    border-radius: 50%; /* Tornar a imagem redonda */
    width: 100%;
    height: auto;
    object-fit: cover;
}
  
#about-section .about-text {
    flex: 1;
}



#about-section p {
    font-family: 'Helvetica', sans-serif;
    line-height: 1.6;
    text-align: justify;
    font-size: 1.5em; /* Aumentar o tamanho da fonte */
}
.posts {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.posts ul {
    list-style-type: none; /* Remover o estilo de lista */
    padding: 0; /* Remover padding */
    margin: 0; /* Remover margin */
}

.posts article {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    flex: 1;
    text-align: center;
    width: 100%;
}

.posts .date {
    display: block;
    margin-bottom: 10px;
    color: #999;
}

.posts h2 {
    color: #333;
    margin-bottom: 20px;
}

.posts .image-container img {
    max-width: 240px;
    max-height: 240px;
    width: 100%;

    display: block;
    margin: 0 auto; /* Centralizar a imagem */
}

.posts .button {
    border-color: #000;
    color: #000;
}

.posts .button:hover {
    border-color: #d10162;
    color: #d10162;
}

@media (max-width: 600px) {
    .posts {
        flex-direction: column;
        align-items: center;
    }

    .posts article {
        width: 100%;
    }
}

/* Estilo da linha cinza escuro */
.linha {
    width: 100%;
    height: 2px;
    background-color: #333; /* Cor cinza escuro */
    margin-top: 20px;
}

/* Container para centralizar o ícone */
.linkedin-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Estilo do link do LinkedIn */
.linkedin-link {
    color: #0077B5; /* Cor padrão do LinkedIn */
    font-size: 24px;
    position: relative;
    text-decoration: none;
}


/* Seta do tooltip */
.linkedin-link .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Mostra o tooltip ao passar o mouse */
.linkedin-link:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Responsividade do ícone */
@media (max-width: 600px) {
    .linkedin-link {
        font-size: 20px;
    }

    .linkedin-link .tooltip {
        font-size: 12px;
    }
}

/* Centraliza a seção de contato */
.contact-section {
    text-align: center;
    padding: 50px 5px;
    background-color: #000;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section h2 {
    color: #d10162;
    font-size: 1em;
    margin-bottom: 0px; /* Ajustar o espaçamento abaixo de "CONTATO" */
    line-height:0;     /* Ajustar a altura da linha conforme necessário */
}

.contact-section h3 {
    padding: 25px;
    color: #fff;
    font-size: 1.6em; /* Reduzir o tamanho da fonte */
    margin-bottom: 18px;
}

.contact-section p {
    color: #ccc;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.contact-section .email-button {
    background-color: #d10162;
    border: none;
    color: #fff;
    padding: 15px; /* Ajustar o padding do botão conforme necessário */
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    margin-top: 20px; /* Ajustar o espaçamento acima do botão */
    max-width: 600px; /* Ajustar a largura máxima do botão */
    width: 100%; /* Ajustar a largura do botão */
    box-sizing: border-box;
}

.contact-section .email-button:hover {
    background-color: #b00050;
}

/* Estilo do rodapé */
.footer {
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    padding: 1  px 0;
    background-color: #000;

    font-size: .90em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 0;
    color: #6b6969; /* Cor cinza para o texto principal */
}

.footer .designer a {
    color: #fff; /* Cor branca para o nome */

    text-decoration: none; /* Remover sublinhado */
}

.footer .designer a:hover {
    color: #d10162; /* Cor ao passar o mouse */
}
.footer a.linkedin-link-footer {
    color: #0077B5; /* Cor padrão do LinkedIn */
    font-size: 1.3em; /* Ajustar o tamanho da fonte */
    text-decoration: none;
    margin-left: 5px;
}

.footer a.linkedin-link-footer:hover {
    color: #005582;
}


/* Estilo do tooltip */
.linkedin-link .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -60px; /* Centralizar o tooltip horizontalmente */
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    z-index: 1;
}
/* Estilo dos ícones na parte superior */
#icon-top {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #333; /* Cor de fundo cinza */
    padding: 10px 0; /* Espaçamento vertical */
    border-radius: 0; /* Remover bordas arredondadas */
    width: 100%; /* Ocupa toda a largura do contêiner */
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

#icon-top a {
    color: #ffffff; /* Cor branca para os ícones */
    font-size: 24px; /* Tamanho dos ícones */
    text-decoration: none;
}

#icon-top a:hover {
    color: #d10162; /* Cor dos ícones ao passar o mouse */
}

#about-section .about-content {
    display: flex;
    align-items: center;
    max-width: 800px; /* Defina a largura máxima conforme necessário */
    margin: 0 auto;
    padding: 0 20px; /* Adiciona espaçamento lateral */
}

#about-section .about-image {
    flex: 0 0 150px; /* Ajuste a largura da imagem conforme necessário */
    margin-right: 20px; /* Espaçamento entre a imagem e o texto */
}

#about-section .about-image img {
    border-radius: 50%; /* Tornar a imagem redonda */
    width: 100%;
    height: auto;
    object-fit: cover;
}

#about-section .about-text {
    flex: 1;
    text-align: justify;
}
